/.idea/editor.xml
/.idea/shelf/Uncommitted_changes_before_Checkout_at_29_Dec_2025_17_17_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_29_Dec_2025_17_17__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
